/* Styling for all elements */
* {
    box-sizing: border-box;
}

/* Styling for the body */
body {
    padding: 0px;
    margin: 0px;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 35%;
    padding: 10px;
}
.left{
    float: left;
    width: 64%;
    padding: 10px;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    clear: both;
}
