  /* Styling for the body */
body {
  font-family: Arial, sans-serif;
}

/* Styling for the image */
img {
  margin: 0 auto;
  padding-top: 20px;
  object-fit: cover;
  width: 450px;
  height: 350px;
}

/* Styling for the list */
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #7171c9;
}

/* Styling for each item in the list */
li {
  float: left;
}

/* Styling for the text of the items in the list */
li a, .dropbtn {
  display: inline-block;
  color: black;
  padding: 14px 16px 14px 16px;
  text-decoration: none;
}

/* Styling for hovering hovering over the list */
li a:hover, .dropdown:hover .dropbtn {
  background-color: #A21620;
}

/* Styling for the content of what is in the drop down menus of each item */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
}

/* Styling for the content in each drop down list of each item */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Styling for when you hover over each item in the drop down */
.dropdown-content a:hover {
  background-color: darkseagreen;
}

/* Styling for when hovering over the content */
.dropdown:hover .dropdown-content {
  display: block;
}
